html, body {
    margin: 0;
    padding 0;
    background-image: url('https://github.com/xijin/xijin.github.io/blob/master/homepage.png'); 
}
body {
    height: 1000px;
}
div {
    text-align: center;
    font-size: 60px;  
}